@use './variables.scss' as *;

header.page-header{
  height: 130px;
  // font-weight: bold;

  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  font-style: normal;

  .container, .row{
    height: 100%;
  }

  .row{
    align-items: center;
  }

  .my-col-logo{

    img{
      width: 80px;
      aspect-ratio: 1/1;
    }
  }

  .my-col-link{
    height: 100%;

    ul,li,a{
      height: 100%;
    }
    
    li{
      cursor: pointer;

      &:hover{
        border-bottom: 5px solid $blue-default;
      }

    }
    
    .my-dropdown {

      button{
        color: rgba(20, 20, 20, 0.822);
        border: none;
        background-color: white;

        font-family: "Inria Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        padding: none;
        margin: none;
        line-height: 75px;
      
        &:last-of-type{
          color: $blue-default;
        }
      }

      .my-dropdown-menu{    

        li{
          font-size: 12px;
          background-color: rgb(235, 233, 233);
        }
      }
    }
    
    a{
      color: rgba(20, 20, 20, 0.822);
      display: inline-block;
      line-height: 75px;
    }
  }

  .my-col-search{
    position: relative;

    input{
      padding-right: 25px;
      outline: none;
      border: none;
      border-bottom: 2px solid $blue-default;
      text-align: right;
    }

    i{
      position: absolute;
      right: 15px;
      bottom: 50%;
      transform: translateY(50%);
      pointer-events: none;
    }
  }

}